
@media only screen and (max-width: 800px) {

.header1 {
  position: relative;
  height: 60px; }



.menu {
  display: inline-block;
  text-align: center;
  padding-top: 10px; 
  padding-left: 150px;
}


.colum {
  font-size: 25px;
  display: inline-block;
  width: 40%;
  padding-top: 40px;
  padding-left: 0px;
  text-align: center;
  color: black;
  /*border:  solid 5px black; */
}
.any-photo, .any-photo1, .any-photo2, .any-photo3, .any-photo4, .any-photo5, .any-photo6, .any-photo7 {
  display: inline-block;
  padding-left: 0px;
  padding-right: 0px;
  width: 50%;
  height: 50%;
  /*border: solid 5px black; */
}

.any-sings {
  display: inline-block;
  width: 50%;
  padding-top: 30px;
  padding-right: 0px;
  color: white;
  font-size: 100%;
  text-align: center; }

  .user {
  width: 135px; }


.buttonMessage {
  line-height: 60px;
  width: 370px;
  height: 60px; }



}


@media only screen and (max-width: 700px) {

 #branly {
  background-image: url("../image/bg.png"); 
  height: 500px;
}

.menu {
  display: inline-block;
  text-align: center;
  padding-top: 10px; 
  padding-left: 30px;
}

.cont {
  padding-top: 100px;
  padding-bottom: 90px;
  text-align: center;
  color: white; 
}

#meet {
  font-size: 60px;
  display: inline; 
}

.team1 {
  display: inline;
  font-size: 60px;
  font-weight: bold; 
}

.creativ {
  font-size: 50px;

}

.any-sings{
	font-size: 10px;
}

.any-sings img{

    width: 100px;
    height: 100px;
  }

  .size-number{
    font-size: 45px;
  }

}

 @media only screen and (max-width: 560px) {

 #branly {
  background-image: url("../image/bg.png"); 
  height: 300px;
}

 .menu {
  display: none;
   
}

.cont {
  padding-top: 50px;
  padding-bottom: 30px;
  text-align: center;
  color: white; 
}

#meet {
  font-size: 40px;
  display: inline; 
}

.team1 {
  display: inline;
  font-size: 40px;
  font-weight: bold; 
}

.creativ {
  font-size: 30px;

}

.professionals{
  font-size: 12px;

}


.words {
  font-size: 16px;
  padding-top: 20px;
  padding-bottom: 30px;
  text-align: center;
  word-spacing: normal;
  opacity: .8; }

.colum {
  font-size: 20px;
  display: inline-block;
  width: 100%;
  padding-top: 40px;
  padding-left: 0px;
  text-align: left;
  color: black;
  word-spacing: 0px;
  /*border:  solid 5px black; */
}

.text {
  font-size:20px;
  display: inline-block;
  padding-top: 0;
  padding-bottom: 30px;
  padding-left: 10px;
  text-align: center;
  word-spacing: 1px; }


.any-photo, .any-photo1, .any-photo2, .any-photo3, .any-photo4, .any-photo5, .any-photo6, .any-photo7 {
  display: inline-block;
  padding-left: 0px;
  padding-right: 0px;
  width: 100%;
  height: 100%;
  /*border: solid 5px black; */
}

.el-team img{
 
  width:50%;
}

   .user {
  width: 450px; 
}


.buttonMessage {
  line-height: 60px;
  width: 450px;
  height: 60px; }

}


@media only screen and (max-width: 400px) {


#branly {
  background-image: url("../image/header.bg.png"); 
}

.menu {
  display: none;
   
}

.colum {
  font-size: 25px;
  display: inline-block;
  width: 50%;
  padding-top: 40px;
  padding-left: 0px;
  text-align: center;
  color: black;
  /*border:  solid 5px black; */
}

.words {
  font-size: 36px;
  padding-top: 20px;
  padding-bottom: 30px;
  text-align: center;
  word-spacing: normal;
  opacity: .8; }


  .any-photo, .any-photo1, .any-photo2, .any-photo3, .any-photo4, .any-photo5, .any-photo6, .any-photo7 {
  display: inline-block;
  padding-left: 0px;
  padding-right: 0px;
  width: 100%;
  height: 100%;
  /*border: solid 5px black; */
}

.any-sings {
  display: block;
  width: 100%;
  padding-top: 30px;
  padding-right: 0px;
  color: white;
  font-size: 100%;
  text-align: center; }

.user {
  width: 100px; }


.buttonMessage {
  line-height: 60px;
  width: 200px;
  height: 60px; }


}


































}


